@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    background: #fff !important;
}

#escaperoom {
    width: 100%
}

.hidden {
    display: none !important;
}


#welcome {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    text-align: center;
}

#bannerImage {
    margin: 0 auto !important;
    text-align: center;
}

#terminal * {
    font-family: 'IBM Plex Mono', monospace !important;
}

code {
    font-family: 'Inconsolata', monospace;
    color: #ff4718;
    background-color: #f3f3f3;
    padding: 2px;
    border-radius: 7px;
    font-size: 105%;
    margin: 5px;
}


#NavigationRoomPage {
    display:flex;
    flex-direction:row;
    margin-top: 10px;
}

#NavigationRoomLeft {
    width: 50%;
    height: 100%;
    position: fixed;
}

#NavigationRoomRight {
    overflow-y: auto;
    padding:50px;
}

#backgroundImage {
    width: 100%;
    height: 100%;
}

#instructionsButton {
    text-align: center;
}

#terminaltop {
    background-color: darkblue;
    padding-left: 20px;
    color: white;
    font-size: 1.2rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

#terminalexitbutton {
    background-color: red;
    border-radius: 7px;
    margin: 5px;
    border: 2px solid white;
}

#keypage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    height: 70vh;
}

#computerPasswordPage {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141313;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
}

.blockText {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    font-family: 'Inconsolata', monospace;
    color: #ff4718;
    background-color: #f3f3f3;
    font-size: 105%;
    white-space: pre;
}

#note {
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    background-color: #f7edc0;
    color: #f7edc0;
    height: 30vh;
}

#graph {
    background-color: #4F4659;
    color: #fff;
    font-size: 1rem;
    padding-right: 30px;
    padding-top: 10px;
}

#graphpuzzlecontent {
    margin: 10px;
    margin-left: 30px;
    padding-bottom: 20px;
}

#graph-canvas {
    padding-right: 50px;
    float: left;
    cursor: pointer;
}

#drawerpuzzletop {
    padding-left: 20px;
    font-size: 1.2rem;
}